<div class="index">
	<%if(haveList){%>
		<div style="height:60px;line-height:60px;font-size:25px;">接口列表</div>
		<ul class="searchlist">
			<%list.forEach(function(item,index){%>
				<li>
					<div class="item">
						<p><%= item.name%></p>
						<div class="icon-tips">
							<span title="复制链接" class="api-url-copy">
								<svg class="icon" aria-hidden="true">
	  									<use xlink:href="#icon-copy"></use>
								</svg>
							</span>
							<span title="一键删除" class="api-delete">
								<svg class="icon" aria-hidden="true">
	  									<use xlink:href="#icon-shanchuicon"></use>
								</svg>
							</span>
						</div>
						<a href="/getjson/<%=item.url%>" target="_blank" class="view act">预览json接口</a>
						<a href="/edit/<%=item.url%>"  class="view act">重新编辑数据</a>
					</div>
				</li>
			<%})%>
		</ul>
	<%}else{%>
		<p style="text-align:center;margin-top:6%;">抱歉，暂时没有找到任何相关的接口，请点击右上角创建一个新接口</p>
	<%}%>
</div>
