<!DOCTYPE html>
<html>
  <head>
    <title>MIUI前端接口可视化创建工具</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="icon" href="http://s01.mifile.cn/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href="/css/parse.css" />
    <script type="text/javascript" src="/js/jquery.all.min.js"></script>
    <script type="text/javascript" src="/js/ZeroClipboard.min.js"></script>
    <script type="text/javascript" src="/js/layer.js"></script>
    <script type="text/javascript" src="/js/checkMore.js"></script>
    <script type="text/javascript" src="/font/iconfont.js"></script>
    <script>
      //搜索
      function submitSearch(){
        var keyword =document.getElementById("search").value.replace(/\s/g,"");
        if(keyword){
          location.href='/search/'+keyword;
        }else {
          layer.msg("请输入您所要查找的内容");
        }
      }
      function keyForm(event){
        event.keyCode == 13 && submitSearch()
      }
    </script>
  </head>
  <body>
  	<div id="header">
  		<div class="header-name">
  			<a class="title" href="/" style="color:#fff"><h1>MIUI前端接口可视化创建工具</h1></a>
        <div class="search-tab">
        <input class="search" id="search" placeholder="输入接口中文名称或英文url Name" onkeyup="keyForm.call(this,event)">
        <span class="search-btn" onclick="submitSearch()">
            搜索
          </span>
          <a href="/create"  class="create-btn act">
            创建新接口
          </a>
          
          

        </div>
  		</div>
  	</div>
    <div class="container">
       <%- body %>
    </div>
    <ul id="bottom">
      <li><a href="http://kquanr.com"  class="guide act" target="_blank">
        <span>关于作者</span>
      </a></li>
      <li><a href="https://github.com/PhotoArtLife/jsonServer"  class="github act" target="_blank">
        <span>GitHub仓库</span>
      </a></li>
    </ul>
  </body>
</html>
